<h1>Convert <%= @user_first_currency %> </h1>

<p>Go back</p>

<ul>
  <% @clean_symbols_array.each do |currency|%>
  <li>
  Convert 1 <%= @user_first_currency %> to <%= currency %>...
  <% end %>
  </li>
</ul>
