<h1>Currency pairs</h1>

<p>Go back</p>

<ul>
  <% @clean_symbols_array.each do |currency|%>
  <li>
    <a href = 
    <%= "/forex/#{currency}"%>>Convert 1 <%= currency %> to...
      </a>
    <% end %>
  </li>
</ul>
