<h1>Convert <%= @user_first_currency %> </h1>

<p>Go back</p>

<ul>
  <% @clean_symbols_array.each do |currency|%>
    <li>
      <a href = <%="https://3000-uchicagoboot-dashboards-mn4fvmtqpm2.ws-us93.gitpod.io/forex/#{@user_first_currency}/#{currency}" %>> Convert 1 <%= 
        @user_first_currency %> to <%= currency %>...
        </a>
      <% end %>
    </li>
</ul>
